* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

html, body { 
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0 255 159); */
  background: red;
}

.info-box {
  width: 500px;
  display: flex;
  gap: 9px;
  padding: 9px;
  align-items: flex-start;
  border: 2px solid black;
  background: white;
}

.error-type {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 1.2rem;
}

.error-details {
  margin-bottom: 9px;
}

.alert-icon {
  border: 2px dashed red;
  padding: 18px 22px;
  flex-shrink: 0;
  font-weight: bold;
}

.exit {
  border: 2px solid black;
  padding: 3px 7px;
}

.exit:hover {
  background-color: aqua;
  border: 2px solid red;
  cursor: pointer;
}

button {
  border: 1px solid red;
  padding: 7px;
  background-color: black;
  color: white;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}